* {
    font-family: 'Red Hat Display', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

header {
    background-image: url('/static/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-size: 1.5em;
}

main {
    background-color: #333333;
    padding-bottom: 30px;
    text-align: center;
}

main h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Menu de Previsão */
#menu-previsao {
    background-color: rgba(0, 0, 0, 0.7); /* preto com 70% de opacidade */
    padding: 20px 0;
    position: fixed;  /* Fixa o menu no topo */
    top: 0;  /* Coloca o menu no topo da página */
    left: 0;
    width: 100%;  /* Largura total */
    z-index: 1000;  /* Garante que o menu fique acima de outros elementos */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#menu-previsao ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu-previsao ul li {
    display: inline;
    margin-right: 20px;
}

#menu-previsao ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

#menu-previsao ul li a:hover {
    background-color: #D2691E; /* Cor laranja mais escuro ao passar o mouse */
    border-radius: 5px;
}


#search-container {
    margin: 20px auto;
    padding-top: 20px;
    text-align: center;
    max-width: 500px;
    min-height: 200px; /* altura mínima pra não sumir */
    position: relative;
}

#search-elements {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#city-name {
    padding: 10px;
    font-size: 1.2em;
    width: 250px;
}


#search-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #D2691E;
    color: white;
    border: none;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #E07B37;
}

#weather-data {
    display: none; /* Começa escondido */
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-size: 1.2em;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.6s ease;
}

#back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #D2691E;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#back-btn:hover {
    background-color: #E07B37;
}

.forecast-carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    scroll-snap-type: x mandatory;
}

.forecast-day {
    min-width: 200px;
    background-color: rgba(255,255,255,0.9);
    padding: 15px;
    border-radius: 10px;
    scroll-snap-align: start;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.forecast-day img {
    width: 50px;
    height: 50px;
}

/* Estilo dos botões */
#search-elements input#city-name-forecast,
#search-elements button#search-forecast-btn {
    padding: 10px;
    font-size: 1.2em;
}

#search-elements input#city-name-forecast {
    width: 250px;
}

#search-elements button#search-forecast-btn,
#new-search-forecast-btn {
    background-color: #D2691E;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

#search-elements button#search-forecast-btn:hover,
#new-search-forecast-btn:hover {
    background-color: #E07B37;
}

/* Carrossel no header */
#forecast-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.forecast-carousel {
    display: flex;
    gap: 20px;
    text-align: center;
}

.forecast-day {
    min-width: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.forecast-day img {
    width: 50px;
    height: 50px;
}

button#next-day-btn, button#prev-day-btn {
    background-color: #D2691E;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button#next-day-btn:hover, button#prev-day-btn:hover {
    background-color: #E07B37;
}


footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    font-size: 0.8em;
    width: 100%;  /* Largura total */
    position: fixed;  /* Fixar o footer na parte inferior */
    bottom: 0;  /* Alinhar o footer na parte inferior */
}
